<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="NexusLabs.Collections.Generic" version="0.0.5" targetFramework="net46" />
  <package id="NexusLabs.Contracts" version="0.0.3" targetFramework="net46" />
  <package id="NexusLabs.Framework" version="0.0.5" targetFramework="net46" />
  <package id="ProjectXyz" version="1.0.7713.9628" targetFramework="net46" />
</packages>